.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.image{
    width: 4rem;
    height: 3rem;
    
}

/* profile.css */

/* Update table styles */
.table-container {
    margin-top: 20px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    text-align: left;
  }
  
  .table-container th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-container tbody tr:hover {
    background-color: #ddd;
  }
  
  /* Update button styles */
  .but {
    margin-right: 10px;
  }
  
  /* Users.css */
.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .table {
    width: 100%; /* Set table width to 100% */
  }
  
  /* Optional: Adjust scrollbar styles */
  .table-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  

  @media (min-width: 992px) {
    .card {
      width: 60rem;
    }
    .image{
      width: 4rem;
    }
    .butt{
      display: flex;
      flex-direction: row;
    }
}