/* Users.css */
.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .table {
    width: 100%; /* Set table width to 100% */
  }
  
  /* Optional: Adjust scrollbar styles */
  .table-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  

  @media (min-width: 992px) {
    .card {
      width: 60rem;
    }
    .image{
      width: 10rem;
    }
    .butt{
      display: flex;
      flex-direction: row;
    }
}

.image{
  width: 4rem;
}

.butt{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.but{
  margin: 3px;
}