.full {
  background-image: url("../../../public/Desktop.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.containeraa {
  width: 100%; /* Adjust width as needed */
}

@media (min-width: 768px) {
  .box {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .box {
    max-width: 600px;
  }
}
